h2 { position: relative;left:1000px;

    color: rgb(0, 0, 0); font-size: 100px; 
    
    /}

body { background-size: ;
     background-image: url(https://pbs.twimg.com/media/DOE4RLqVAAAAhpO.jpg)
     ;background-repeat: no-repeat;
     background-color: rgb(146, 145, 145);


    /}

.intro { font: size 20px;
    position:relative;left:1000px;
    /}

.AboutMe { color: rgb(0, 0, 0);
     font-size: 35px;position:
      relative;left:900px;
/} 
ul {font-size: 28px; list-style:; position: relative;left:1000px} 
.li1 {color: black;}
.li2 {color: rgb(0, 0, 0);}
.li3 {}
.Button {position: relative;left:1000px;
    size: 35px; 
    
    /}
    .WantToKnow {font-size: 20px; position: relative;left: 1000px;}